In [25]:
import pandas as pd

In [26]:
#abrimos el dataset que fue brindado por el equipo para realizar la funciones solicitadas
df=pd.read_csv(r"C:\Users\Leo\Desktop\daniela_curso\proyect\Dataset\movies_dataset.csv")
df

C:\Users\Leo\AppData\Local\Temp\ipykernel_828\2062177975.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\Leo\Desktop\daniela_curso\proyect\Dataset\movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

FUNCIONES QUE SERAN NECESARIAS PARA LA API

In [27]:
def peliculas_idioma(idioma):
    df=pd.read_csv(r"C:\Users\Leo\Desktop\daniela_curso\proyect\movie_data.csv")
    lista=df['original_language'].tolist()
    cantidad=0
    for item in lista:
        if item == idioma:
            cantidad+=1
    return {'Idioma':idioma, 'Cantidad':cantidad}

In [28]:
def peliculas_duracion( Pelicula: str ):
    lista=df['title'].tolist()
    indice=lista.index(Pelicula)
    duracion=df['runtime'][indice]
    anio=df['release_year'][indice]
    return {'Duracion':duracion, 'Año':anio}

In [29]:
def decode_str_dict(x):
    try:
        out=eval(x)[0]['name']
    except Exception:
        try:
            out=eval(x)['name']
        except Exception:
            try:
                out=eval(x)
            except Exception:
                out=x
    return out

se aplica la funcion decode_str_dict anterior para returna los valores que se necesitan que estan anidados dentro de una lista de diccionario por lo cual recorre varias opciones para retornar el valor

In [40]:
df['belongs_to_collection']=df['belongs_to_collection'].apply(decode_str_dict)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [31]:
def franquicia( Franquicia: str ):
    collection=df['belongs_to_collection'].tolist()
    monto=df['revenue'].tolist()
    lista=[]
    for indice,elemento in enumerate(collection):
        if elemento == Franquicia:
            ganancia=int(monto[indice])
            lista.append(ganancia)
            ganancia_total=sum(lista)
            ganancia_promedio=sum(lista)/len(lista)
    peliculas=len(lista)
    return ({'franquicia':Franquicia, 'cantidad':peliculas, 'ganancia_total':ganancia_total, 'ganancia_promedio':ganancia_promedio})

In [32]:
franquicia('Father of the Bride Collection')

{'franquicia': 'Father of the Bride Collection',
 'cantidad': 2,
 'ganancia_total': 165904691,
 'ganancia_promedio': 82952345.5}

In [41]:
df['production_countries']

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [46]:
df['production_countries']=df['production_countries'].apply(decode_str_dict)

In [47]:
def pelicula_pais( Pais: str):
    paises=df['production_countries'].tolist()
    contador=0
    for indice, elemento in enumerate(paises):
            if elemento == Pais:
                contador+=1
    return {'pais':Pais, 'cantidad':contador}

In [48]:
pelicula_pais('United States of America')

{'pais': 'United States of America', 'cantidad': 18425}

In [9]:
def productoras_exitosas( Productora: str ):
    productoras=df['production_companies'].tolist()
    ganancia=df['revenue'].tolist()
    lista=[]
    for indice,elemento in enumerate(productoras):
        if elemento == Productora:
            valor=ganancia[indice]
            lista.append(valor)
    revenue_total=sum(lista)
    cantidad=len(lista)
    return {'productora':Productora, 'revenue_total': revenue_total,'cantidad':cantidad}

In [10]:
dr=pd.read_csv(r"C:\Users\Leo\Desktop\daniela_curso\proyect\Dataset\credits.csv")
dr

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [11]:
import ast

In [33]:
#los valores  de la columna id que no tenian formatos numericos fueron reemplazados por cero
df['id']=df['id'].apply(lambda x: int(x) if str(x).isdigit() else 0)

In [37]:
data= pd.merge(df, dr, on='id')
data

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return,cast,crew
0,Toy Story Collection,30000000.0,Animation,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,English,Released,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,NaN,65000000.0,Adventure,8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,United States of America,1995-12-15,...,English,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,Grumpy Old Men Collection,0.0,Romance,15602,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros.,United States of America,1995-12-22,...,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,NaN,16000000.0,Comedy,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,United States of America,1995-02-10,...,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45446,NaN,0.0,Drama,30840,en,"Yet another version of the classic epic, with ...",5.683753,Westdeutscher Rundfunk (WDR),Canada,1991-05-13,...,English,Released,NaN,Robin Hood,5.7,26.0,1991.0,0.000000,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de..."
45447,NaN,0.0,Drama,111109,tl,An artist struggles to finish his work while a...,0.178241,Sine Olivia,Philippines,2011-11-17,...,NaN,Released,NaN,Century of Birthing,9.0,3.0,2011.0,0.000000,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45448,NaN,0.0,Action,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,United States of America,2003-08-01,...,English,Released,A deadly game of wits.,Betrayal,3.8,6.0,2003.0,0.000000,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45449,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,Yermoliev,Russia,1917-10-21,...,[],Released,NaN,Satan Triumphant,0.0,0.0,1917.0,0.000000,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45450,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],United Kingdom,2017-06-09,...,English,Released,NaN,Queerama,0.0,0.0,2017.0,0.000000,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [41]:
#aplicamos la funcion ya vista anteriormente para esas columnas con valores anidados en listas de diccionarios
data['crew']=data['crew'].apply(decode_str_dict)

In [42]:
data['crew']

0           John Lasseter
1         Larry J. Franco
2           Howard Deutch
3         Forest Whitaker
4          Alan Silvestri
               ...
45446          John Irvin
45447            Lav Diaz
45448      Mark L. Lester
45449    Yakov Protazanov
45450       Daisy Asquith
Name: crew, Length: 45451, dtype: object

In [50]:
#se elimina esta columna ya que no se trabajara con esta para la funcion pedida
data = data.drop(['cast'], axis=1)

In [51]:
#abrimos el dataset credits que fue dado por el equipo
data.to_csv('movie_credits.csv',index=False)

In [ ]:
def get_director(nombre_director:str):
    dir=data['crew']
    peli_lista=data['title'].tolist()
    año_lista=data['release_year'].tolist()
    retorno_lista=data['return'].tolist()
    budget_lista=data['budget'].tolist()
    revenue_lista=data['revenue'].tolist()
    #creo listas de las columnas del dataframe que utilizare 
    nuevo=[]
    nuevo1=[]
    nuevo2=[]
    nuevo3=[]
    nuevo4=[]
    #recorro la columan de directores y busco la coincidencia de el string ingresado por el ususario
    for indice,valor in dir.items():
        if valor == nombre_director:
            pelicula=peli_lista[indice]
            año=año_lista[indice]
            retorno=retorno_lista[indice]
            budget=budget_lista[indice]
            revenue=revenue_lista[indice]
    #agrego las coincidencias en varias listas
            nuevo.append(pelicula)
            nuevo1.append(año)
            nuevo2.append(retorno)
            nuevo3.append(budget)
            nuevo4.append(revenue)
    #se procede a concatenar las listas en una
    result = list(zip(nuevo,nuevo1,nuevo2,nuevo3,nuevo4))
    retorno_total=sum(nuevo2)
    user_keys=['title','anio', 'retorno','budget','revenue']
    resultado=[]
    resultado.append({'director': nombre_director, 'retorno_total':retorno_total })
    for user in result:
    #Agrego el diccionario al final de la lista resultado
        resultado.append(dict(zip(user_keys, user)))
    return(resultado)